<div class="jumbotron">
    <h3>History of purchase </h3>
    <p>Check the previous orders</p>
  </div>





<div class="div-align" ng-controller="historyController">
	<div>
		<table class="table table-bordered table-hover table-active">
			<tr>
				<th>Product Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Product description</th>
                <th>Purchased from</th>
			
                
			</tr>
			<tr ng-repeat="product in allproducts">
				<td>{{product.p_id}}</td>
				<td>{{product.p_name}}</td>
				<td>{{product.p_price}}</td>
				<td>{{product.p_disc}}</td>
                <td>{{product.username}}</td>
                
				
            
                
			</tr>
		</table>

	</div>
</div>
